@tailwind base;
@tailwind components;
@tailwind utilities;



  /* App.css */
body.day {
    background-color: white;
    color: black;
    
  }
  
  body.night {
    background-color: black;
    color: white;
    
  }
  
  /* Ensure text is visible in night mode */
  body.night .text-dark {
    color: white;
  }
  
  body.day .text-light {
    color: black;
  }
  

  /* In your global CSS file */
html {
    scroll-behavior: smooth;
  }
  